@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.allTasks,
.completedTasks,
.uncompletedTasks {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1.5rem;
}

.nav-menu.active ~ .allTasks {
  margin-left: 250px;
}

.nav-menu.active ~ .completedTasks {
  margin-left: 250px;
}

.nav-menu.active ~ .uncompletedTasks {
  margin-left: 250px;
}
