.TaskItem {
  width: 100%;
  max-width: 400px;
  min-width: 100px;

  height: auto;
  max-height: 350px;
  min-height: auto;

  padding: 5px;
  margin: 5px;

  border: 2px solid black;

  .Description {
    white-space: collapse; /* allow wrapping */
    margin: 0;
    overflow: hidden;
  }
}
