.Form {
  margin: 20px;

  .Input {
    margin-left: 5px;
    margin-right: 5px;
  }

  .Select {
    margin-left: 5px;
    margin-right: 5px;
  }

  .Button {
    margin-left: 5px;
    margin-right: 5px;
  }
}
